  <nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-3">
      <div class="nav-background">
      <%=image_tag 'yarn.jpeg' %>
      </div>
      <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      </nav>